body{
    font-family: sans-serif;
    color: rgb(110, 179, 179);
    background-color: teal;
}
h1{ color: white;}

h2{ display: flex;
    justify-content: center;
}

nav{
display: flex;
justify-content: space-around;
}
.jumbotron{


}
ul li{
list-style: none;
display: inline-block;
padding: 50px
}

h1{
    display: flex;
    justify-content: center;
}

.city{
    display: flex;
    align-content: stretch;
    width: 1200px;
    height: 1300px;
    margin: auto;
    background: #fff;
    border-radius: 10px;
}
