body{
    width: 100vw;
    height: 100vh;
    background: teal;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, teal, yellow);
    margin-top: 30px;
    width: 150px;
    height: 45px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    color: black;
    border-radius: 8px;
    border: none;

}

nav{
display: flex;
justify-content: space-around;


}
.jumbotron { 
    padding: 30px; 
    background-color: rgb(235, 233, 98);
  }
  
ul li{
list-style: none;
display: inline-block;
padding: 75px;
}

h1{
    display: flex;
    justify-content: center;
}

.city{
    display: inline-block;
    align-content: stretch;
    width: 1200px;
    height: 630px;
    margin: auto;
    background: #fff;
    border-radius: 10px;
    display: flex;
}
